<% provide(:title, "Top") %>
<div class="container">
  <div class="row">
    
   <div class="col-md-7">
     <div class="center jumbotron", id="top-main">
       <h1 class="top-main-tittle">TaskApp</h1>
       <p>TaskAppは簡易ToDo管理ツールです。</p>
       <p>↓↓初めてのご利用↓↓</p>
       <% if logged_in? %>
         <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success #{"disabled" unless current_user.admin?}" %>
       <% else %>
         <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success"%>
       <% end %>
     </div>
   </div> 
   
   <div class="col-md-4">
    <h1>ログイン</h1>
      <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
        <% if logged_in? %>
          <%= f.label :email, class: "label-login" %>
          <%= f.email_field :email, readonly: :true, class: 'form-control' %>
      
          <%= f.label :password, class: "label-login" %>
          <%= f.password_field :password, readonly: :only, class: 'form-control' %>
      
          <%= f.submit "Log In", class: "btn btn-primary btn-block btn-login", disabled: :disabled %>
          
        <% else %>
        
          <%= f.label :email, class: "label-login" %>
          <%= f.email_field :email, class: 'form-control' %>
        
          <%= f.label :password, class: "label-login" %>
          <%= f.password_field :password, class: 'form-control' %>
          
          <%= f.submit "Log In", class: "btn btn-primary btn-block btn-login" %>
        <% end %>
      <% end %>
        
    </div>
  </div>
</div>
